<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=user.names%></title>
  </head>
  <body>
    <%- include("header.ejs")%>
    <h1><%=user.names%></h1>
    <h2>Age: <%=user.age%></h2>
    <h2>Gender: <%=user.gender%></h2>

    <a href="/edituser?userid=<%=user.id%>">Edit</a>

    <form action="/delete/<%=user.id%>" method="post">
      <button
        type="submit"
        style="color: white; background-color: red; padding: 10px 18px"
      >
        delete
      </button>
    </form>
  </body>
</html>
